<h2>Creating a New Edition</h2>
<p>You must create a new edition of a Newsletter before you can assign articles to it.</p>

<h2>Working on Articles</h2>
<p> To write or edit an individual article, click on "Write or Edit Articles" above.</p>

<h2>Other Options</h2>
<ul>
    <li><%= link_to "Newsletters and Templates", :controller => 'newsletters'%></li>
    <li><%= link_to "Authors", :controller => 'authors' %></li>
    <li><%= link_to "Lists", :controller => 'lists' %></li>
</ul>